//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//variables
$bg-color: #21204A;
$font-color: white;
$font-color2: #a6b8cf;
$main-bg-color: #e0e9f0;
$inside-flex-item-bg-color:#f0f4f7;
$font-type: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

html {
    font-size: 1px;

    body {
        font-size: 16rem;
        color: $font-color;
        font-family: $font-type;

        header {
            background-color: $bg-color;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            span {
                font-size: 28rem;
                font-weight: bold;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0 10px;
            }

            nav {
                // border: 1px solid white;
                width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-link {
                    text-decoration: none;
                    color: $font-color2;
                }

                .connect-wallet-btn {
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px 20px;
                    margin-left: 30px;
                }
                div{
                    display: flex;
                    align-items: center;
                }
            }
        }
        
    }
}